/**
 * MESS Resets and defaults
 */

/**
 * Set defaults on every element
 * -----------------------------
 * Set padding, margin, box sizing and antialiasing on every element
 */

* {
  .inner-padding();
  .no-spacing();
  .antialiasing();
}

/**
 * Reset outline
 * -------------
 * Even if * is specified, we must also specify other elements
 * as some browsers (IE for instance) default styles & pseudo elements
 * are overriding the * statement
 */
a,
input,
button,
* {
  &,
  &:focus,
  &:active,
  &:link,
  &:visited,
  &:hover {
    outline:none;
  }
}

/**
 * Set font settings
 * -----------------
 * Set default font size & family
 * Default font size is calculated as a percentage, based on @font-size
 */
html {
  font-size: (@font-size / 16)  * 100 + 0%;
  font-family: @font-family-default;
  // height: 100%;
}

html, body{
  width:100%;
  min-height: 100%;
}

body {
  position:relative;
}

h1 {
  font-family: @font-family-h1;
}

h2 {
  font-family: @font-family-h2;
}

h3 {
  font-family: @font-family-h3;
}

h4 {
  font-family: @font-family-h4;
}

h5 {
  font-family: @font-family-h5;
}

h6 {
  font-family: @font-family-h6;
}

ul, li {
  list-style: none;
  .no-spacing();
}

/**
 * Remove link text decoration
 */
a {
  text-decoration:none;
}

.element-invisible {
  .hide();
}

