/**
 * Base font size, pixel value without unit
 *
 * @font-size: 12;
 *
 * To set a 12px font size on <html>, thus making 12px
 * the default site font size
 */

@font-size:   14;



/****
 * FONT STYLES & FAMILIES
 **/


/**
 * Default font families
 */

@font-family-default: 'titilium-regular', Arial, sans-serif;
@font-family-secondary: @font-family-default;


/**
 * Elements font families
 */

@font-family-h1: @font-family-secondary;
@font-family-h2: @font-family-secondary;
@font-family-h3: @font-family-secondary;
@font-family-h4: @font-family-secondary;
@font-family-h5: @font-family-secondary;
@font-family-h6: @font-family-secondary;

/**
 * Colors
 */

@black:             #000;
@white:             #fff;
@grey:              #666;
@blue-header:       #15b7ff;
@blue-footer:       #15b7ff;
@search-bg:         #ececec;
@blue-dark:         #1C2E42;
@red-corpo:         #e11b23;
@grey-bg:           #f7f5f8;


/**
 * Radiuses
 */

@radius-small:  3px;
@radius:        5px;
@radius-large:  7px;



/**
 * MEDIA QUERIES
 * -------------
 */


/**
 * Device width
 */

@tablet-width = ~"only screen and (max-width: 960px)";
@mobile-width = ~"only screen and (max-width: 640px)";
@desktop-width = ~"only screen and (max-width: 1280px)";


/**
 * Device height
 */

@tablet-height = ~"only screen and (min-height: 480px)";
@laptop-height = ~"only screen and (min-height: 600px)";
@desktop-height = ~"only screen and (min-height: 800px)";


/**
 * LAYOUT
 * ------
 */

@mobile-nav-width: 260px;
