/**
 * CSS Easing functions
 * Thanks to http://matthewlein.com/ceaser/
 */

// Quad
@easeInQuad:      cubic-bezier(0.550, 0.085, 0.680, 0.530);
@easeOutQuad:     cubic-bezier(0.250, 0.460, 0.450, 0.940);
@easeInOutQuad:   cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Cubic
@easeInCubic:     cubic-bezier(0.550, 0.055, 0.675, 0.190);
@easeOutCubic:    cubic-bezier(0.215, 0.610, 0.355, 1.000);
@easeInOutCubic:  cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Quart
@easeInQuart:     cubic-bezier(0.895, 0.030, 0.685, 0.220);
@easeOutQuart:    cubic-bezier(0.165, 0.840, 0.440, 1.000);
@easeInOutQuart:  cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
@easeInQuint:     cubic-bezier(0.755, 0.050, 0.855, 0.060);
@easeOutQuint:    cubic-bezier(0.230, 1.000, 0.320, 1.000);
@easeInOutQuint:  cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
@easeInSine:      cubic-bezier(0.470, 0.000, 0.745, 0.715);
@easeOutSine:     cubic-bezier(0.390, 0.575, 0.565, 1.000);
@easeInOutSine:   cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Expo
@easeInExpo:      cubic-bezier(0.950, 0.050, 0.795, 0.035);
@easeOutExpo:     cubic-bezier(0.190, 1.000, 0.220, 1.000);
@easeInOutExpo:   cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Circ
@easeInCirc:      cubic-bezier(0.600, 0.040, 0.980, 0.335);
@easeOutCirc:     cubic-bezier(0.075, 0.820, 0.165, 1.000);
@easeInOutCirc:   cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Back
@easeInBack:      cubic-bezier(0.600, -0.280, 0.735, 0.045);
@easeOutBack:     cubic-bezier(0.175, 0.885, 0.320, 1.275);
@easeInOutBack:   cubic-bezier(0.680, -0.550, 0.265, 1.550);

/**
 * Transition functions
 */

.transition(@prop:all, @dur:0.3s, @ease:ease-in-out, @del:0s) {
  -webkit-transition: @prop @dur @ease @del;
  -moz-transition:    @prop @dur @ease @del;
  -o-transition:      @prop @dur @ease @del;
  -ms-transition:     @prop @dur @ease @del;
  transition:         @prop @dur @ease @del;
}

.transition-delay(@delay: 0s) {
  -webkit-transition-delay: @delay;
  -moz-transition-delay: @delay;
  -o-transition-delay: @delay;
  transition-delay: @delay;
}

.transition-duration(@duration: 0.3s) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-property(@property: all) {
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -o-transition-property: @property;
  transition-property: @property;
}

.transition-timing-function(@easing: ease-in-out) {
  -webkit-transition-timing-function: @easing;
  -moz-transition-timing-function: @easing;
  -o-transition-timing-function: @easing;
  transition-timing-function: @easing;
}


/**
 * transition2()
 * Chain 2 transition effects
 */
.transition2(@opts1, @opts2) {
  -webkit-transition: @opts1, @opts2;
  -moz-transition:    @opts1, @opts2;
  -o-transition:      @opts1, @opts2;
  -ms-transition:     @opts1, @opts2;
  transition:         @opts1, @opts2;
}


/**
 * transform()
 * Rotate an element
 */

.transform(@opts) {
  -webkit-transform:  @opts;
  -moz-transform:     @opts;
  -ms-transform:      @opts;
  transform:          @opts;
}


/**
 * backface-visibility()
 * Hide the backside of a rotated element
 */

.backface-visibility(@opts) {
  -webkit-backface-visibility:  @opts;
  -moz-backface-visibility:     @opts;
  backface-visibility:          @opts;
}


/**
 * Animation
 */
.animation(@animation, @duration: 1s, @count: infinite, @direction: normal, @delay: 0, @fill: forwards) {
  -webkit-animation:  @animation @duration @delay @count @direction @fill;
  -moz-animation:     @animation @duration @delay @count @direction @fill;
  -ms-animation:      @animation @duration @delay @count @direction @fill;
  -o-animation:       @animation @duration @delay @count @direction @fill;
  animation:          @animation @duration @delay @count @direction @fill;
}

