/**
 * CSS3 Functions
 */


/**
 * Element Border
 */
 
.border-radius(@radius:5px) {
  -webkit-border-radius: @radius; /* Android = 1.6, iOS 1-3.2, Safari 3-4 */
	-moz-border-radius:    @radius;
  border-radius: @radius; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
  
  /* useful to clip the background color to the rounded borders */
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
  background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
}

.border-radius-left(@radius:5px) {
  .border-radius(@radius 0 0 @radius);
}

.border-radius-right(@radius:5px) {
  .border-radius(0 @radius @radius 0);
}

.border-radius-top(@radius:5px) {
  .border-radius(@radius @radius 0 0);
}

.border-radius-bottom(@radius:5px) {
  .border-radius(0 0 @radius @radius);
}


/**
 * Element & Text Shadow
 */

.box-shadow(@top, @left, @width, @spread:1px, @color: #000, @alpha: 0.3) {
	-webkit-box-shadow: @top @left @width @spread rgba(red(@color), green(@color), blue(@color), @alpha);
	-moz-box-shadow:    @top @left @width @spread rgba(red(@color), green(@color), blue(@color), @alpha);
	box-shadow:         @top @left @width @spread rgba(red(@color), green(@color), blue(@color), @alpha);
}

.inner-shadow (@top, @left, @width, @spread:1px, @color: #000, @alpha: 0.3) {
	-webkit-box-shadow: inset @top @left @width @spread rgba(red(@color), green(@color), blue(@color), @alpha);
	-moz-box-shadow:    inset @top @left @width @spread rgba(red(@color), green(@color), blue(@color), @alpha);
	box-shadow:         inset @top @left @width @spread rgba(red(@color), green(@color), blue(@color), @alpha);
}

.reset-shadow() {
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}

.text-shadow(@top, @left, @width:1px, @color: #000, @alpha: 0.3) {
  text-shadow: @left @top @width rgba(red(@color), green(@color), blue(@color), @alpha);
}


/**
 * Opacity
 */

.opacity(@opacity:0.5) {

  @opacity-ie: (@opacity * 100);
  
  /* works for IE 5+. */
  filter: ~"alpha(opacity=@{opacity-ie})";

  /* works for IE 8. */
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@opacity-ie)";

  /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
  -moz-opacity:@opacity; 

  /* This is for old versions of Safari (1.x) with KHTML rendering engine */
  -khtml-opacity: @opacity; 

  /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */  
  opacity: @opacity; 
}


/**
 * Box model
 */

.inner-padding(@value:border-box) {
	-webkit-box-sizing: @value; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: @value;    /* Firefox, other Gecko */
	box-sizing: @value;         /* Opera/IE 8+ */  
}

/**
 * CSS3 background backport and prefixing
 */

.background-size(@size) {
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

.background-cover() {
  .background-size(cover);
}

.background-contain() {
  .background-size(contain);
}

.background-center() {
  background-position: center;
}

.background-fixed() {
  background-attachment: fixed;
}

.background-scroll() {
  background-attachment: scroll;
}
.background-repeat(@repeat:no-repeat) {
  background-repeat: @repeat;
}
