/**
 * Hide text
 * ---------
 * Hide a text from an element.
 */
.hide-text() {
  text-indent:-10000px;
  zoom:1;
}

/**
 * Font Size
 * ---------
 * Set a font size in em
 * @size should be given in px, and will be converted to em
 * automatically based on the site's default font size
 */
.font-size(@size, @default: @font-size, @reset: false) {
  font-size:(@size / @default) + 0em;
}

.font-size-reset() {
  font-size: 1em;
}

/**
 * Letter Spacing
 * --------------
 * Create a letter spacing, using a scale of 1000 to 1em
 * This helps converting Photoshop's letter spacing values
 * to CSS values. Example:
 * .letter-spacing(photoshop value) = letter-spacing:(Xem);
 * .letter-spacing(50) = letter-spacing:0.05em;
 * .letter-spacing(100) = letter-spacing:0.1em;
 * .letter-spacing(500) = letter-spacing:0.5em;
 */
.letter-spacing(@spacing: 0) {
  letter-spacing:@spacing / 1000 + 0em;
}

/**
 * Uppercase
 * ---------
 */
.uppercase() {
  text-transform:uppercase;
}

/**
 * Lowercase
 * ---------
 */
.lowercase() {
  text-transform:lowercase;
}

/**
 * Normal case
 * -----------
 */
.normal-case() {
  text-transform:none;
}

/**
 * Bold
 * ----
 */
.bold(@val: on) when (@val = on) {
  font-weight:bold;
}

.bold(@val: on) when (@val = off) {
  font-weight:normal;
}


/**
 * Italic
 * ------
 */
.italic(@val: on) when (@val = on) {
  font-style:italic;
}

.italic(@val: on) when (@val = off) {
  font-style:normal;
}

/**
 * Underline
 * ---------
 */
.underline(@val: on) when (@val = on) {
  text-decoration:underline;
}

.underline(@val: on) when (@val = off) {
  text-decoration:none;
}


.block() {
  display:block;
}

.hide() {
  display:none;
}

.inline() {
  display:inline;
}

.inline-block() {
  display:inline-block;
}

.relative() {
  position:relative;
}

.absolute() {
  position:absolute;
}

.fixed() {
  position:fixed;
}

.static() {
  position:static;
}

.absolute-center {
  .absolute();
  top:50%;
  left:50%;
  .transform(translateX(-50%) translateY(-50%));
}

/**
 * Cover a parent area
 */
.cover(@position: none, @offset: 0) {
  top:@offset;
  left:@offset;
  right:@offset;
  bottom:@offset;
}

.cover(@position: none, @offset: 0) when (@position = fixed) {
  .fixed();
}

.cover(@position: none, @offset: 0) when (@position = absolute) {
  .absolute();
}

.z(@val:0) {
  z-index:@val;
}

.size(@width, @height) {
  height:@height;
  width:@width;
}

.square(@size) {
  .size(@size, @size);
}

.spacing(@padding-height: 0, @padding-width:0, @margin-height: 0, @margin-width: 0) {
  margin:@margin-height @margin-width;
  padding:@padding-height @padding-width;
}

.no-spacing() {
  margin:0;
  padding:0;
}

.overflow(@val: hidden) {
  overflow:@val;
}

.pointer() {
  cursor:pointer;
}

.antialiasing() {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.user-select(@val: none) {
  -webkit-user-select: @val;  /* Chrome all / Safari all */
  -moz-user-select: @val;     /* Firefox all */
  -ms-user-select: @val;      /* IE 10+ */

  /* No support for these yet, but let's dream ! */
  -o-user-select: @val;
  user-select: @val;
}

.clear(@val: both) {
  clear:@val;
}

.clearfix() {
  zoom:1;

  &:after {
    content:'';
    display:table;
    clear:both;
    height:0;
    visibility:hidden;
  }
}
