/**
 * Short codes to easily use media queries
 * Define media queries variables
 * ex: @media @mobile {}
 */
@hd:          ~"only screen and (-webkit-min-device-pixel-ratio: 2)",
              ~"only screen and (   min--moz-device-pixel-ratio: 2)",
              ~"only screen and (     -o-min-device-pixel-ratio: 2/1)",
              ~"only screen and (        min-device-pixel-ratio: 2)",
              ~"only screen and (                min-resolution: 192dpi)",
              ~"only screen and (                min-resolution: 2dppx)";
@mobile:      ~"only screen and (max-width: 598px)";
@tablet:      ~"only screen and (min-width: 599px) and (max-width: 1024px)";
@desktop:     ~"only screen and (min-width: 1025px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";


/**
 * Retina background
 */
.background-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
  background-image: url("@{file-1x}");
  
  @media @hd {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}